/*
 * Placeholder dashboard ideas
 */
.placeholder{
	padding-top:20px;
	padding-left:15px;
}

.glyphicon-edit{
	cursor:pointer;
}

#anzahl_regal_current{
	color: #00BFFF
}
.anzahl_regalfach{
	color: #00BFFF
}
.vertical-align {
    display: flex;
    align-items: center;
}